

  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Courses" %>

  <h2>Courses</h2>

  <ul id="courses">
    <% @courses.each do |course| %>
        <li class="pb-2">
          <%= link_to "#{course.coding_class.title} - #{course.trimester.term} #{course.trimester.year}", course_path(course) %>
        </li>
        <%= render course %>
    <% end %>
  </ul>

  <%= link_to "New course", new_course_path %>


